<div class="global bg-lightblue-200">
    <div class="global-parent">
        <h3 class="flex justify-center global-parent-title">Nos dernières offres d'emploi</h3>
    </div>
  
    <div class="grid grid-cols-3 global-colone">
        <div class="global-colone-block">
            <span class="global-colone-block-imge  mt-5">South Africa</span>
            <span class="global-colone-block-spe bg-green-200 ml-2">Full time</span>
            <p class="mt-6 ml-3 global-colone-block-para">Senior UX Designer at Cravers Tech.</p>
            <img src="../assets/image/bottom.svg" class="global-colone-block-img">
        </div>
        <div class="global-colone-block">
            <span class="global-colone-block-imge  ">Paucekchester, UK</span>
            <span class="global-colone-block-spe bg-orange-200">Part-time</span>
            <p class="mt-6 ml-3 global-colone-block-para">Marketing Manager at DropDrop Inc.</p>
            <img src="../assets/image/DropDropInc.svg" class="global-colone-block-img">
        </div>
        <div class="global-colone-block"> 
            <span  class="global-colone-block-imge  ">Noemieport, Norway</span>
            <span class="global-colone-block-spe bg-orange-200">Part-time</span>
            <p class="mt-6 ml-3 global-colone-block-para">Junior Call Support Assistant at Help180.</p>
            <img src="../assets/image/Help180.svg" class="global-colone-block-img">
        </div>
        <div class="global-colone-block">
            <span  class="global-colone-block-imge >South Africa">Mooreville, Canada</span>
            <span class="global-colone-block-spe bg-orange-200">Part time</span>
            <p class="mt-6 ml-3 global-colone-block-para">Senior UX Designer at Cravers Tech.</p>
            <img src="../assets/image/shapers.svg" class="global-colone-block-img">
        </div>
        <div class="global-colone-block">
            <span class="global-colone-block-imge">Anywhere</span>
            <span class="global-colone-block-spe bg-purple-200">Remote</span>
            <p class="mt-6 ml-3 global-colone-block-para">Marketing Manager at DropDrop Inc.</p>
            <img src="../assets/image/Expracto.svg" class="global-colone-block-img">
        </div>
        <div class="global-colone-block"> 
            <span  class="global-colone-block-imge ">Noemieport, Norway</span>
            <span class="global-colone-block-spe bg-green-200">Full time</span>
            <p class="mt-6 ml-3 global-colone-block-para">Junior Call Support Assistant at Help180.</p>
            <img src="../assets/image/bottom.svg" class="global-colone-block-img">
        </div>
    </div>
    
</div>
