<div class="global bg-lightblue-200 mb-8">
    <div class="global-parent">
        <h3 class="flex justify-center ">Nos dernières offres d'emploi</h3>
    </div>
  
    <div class="grid grid-cols-3 gap-8 global-colone">
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span>South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/Cravers.svg" alt="">
                <div class="media-body">
                  <h5 class="">cravel tech</h5>
                  <span>19 hours ago</span>
                </div>
              </div>
        </div>
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span>South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/DropLogo.svg" alt="">
                <div class="media-body">
                  <h5 class="">Drop Logo</h5>
                  <span>19 hours ago</span>
                </div>
              </div>
        </div>
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span >South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/HelpLogo180.svg" alt="">
                <div class="media-body">
                  <h5 class="">Help Logo 180</h5>
                  <span>19 hours ago</span>
                </div>
              </div>
        </div>
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span>South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/shapers.svg" alt="">
               
              </div>
        </div>
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span>South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/Expracto.svg" alt="">
                <div class="media-body">
                  <h5 class="">Expracto</h5>
                  <span>19 hours ago</span>
                </div>
              </div>
        </div>
        <div class="global-colone-block">
            <div class="flex items-center justify-between">
                <span>South Africa</span>
                <span class="bg-green-200 ml-2 p-1">Full time</span>
            </div>
            <p class="mt-6 mb-8 ">Senior UX Designer at Cravers Tech.</p>
            <div class="media flex items-center">
                <img class="mr-3" src="./assets/image/cravers-logo.svg" alt="">
                <div class="media-body">
                  <h5 class="">cravel tech</h5>
                  <span>19 hours ago</span>
                </div>
              </div>
        </div>
    </div>
    
</div>
