<header class="flex items-center"> 
     <div class="mr-auto ml-4">
        <a href=""><img src="../assets/image/logo.png" alt="" class="mt-4"></a>
     </div>    
     <nav class="ml-auto ">
        <ul class="flex flex-row justify-end mt-8">
            <li class="pl-3 pt-3 md:pb-6 firstChild"><a href="#" class="texr-orange-400">Accueil</a></li>
            <li class="pl-3 pt-3 md:pb-6"><a href="#">Offres d'emploi</a></li>
            <li class="pl-3 pt-3 md:pb-6"><a href="#">à propos</a></li>
            <li class="pl-3 pt-3 md:pb-6"><a href="#">Je suis recruteur</a></li>
            <li class="pl-3 pt-3 md:pb-6"><a href="#">Je suis candidat</a></li>
            <li class=""><button class=" ml-4 mr-4 mb-4 ">Créer un Compte</button></li>
      
        </ul>
    </nav>  
</header>

  