<div class="globales">
<div class="grid  md:grid-cols-3  sm:grid-cols-1 globales-children ">
  
    <div class="border-1 globales-children-blockes">
        <a href=""><img src="../assets/image/logo.png" alt="" class=""></a>
        <ul>
            <li>Mozaik RH</li>
            <li> 29 boulevard Bourdon, Paris </li>
            <li>75004</li>
            <li class="colored">01 80 05 96 50</li>
            <li class="colored">diversifiezvostalents@mozaikh.com</li>
        </ul>
       
    </div>

    <div class="border-1 globales-children-blockes-second">
         <h3>Information</h3>
     <ul>
        <li>Mentions légales</li>
        <li>Conditions générales</li>
        <li>FAQ</li>    
         <li>Gestion des cookies</li>   
     </ul>
           
    </div>

    <div  class=" border-1 globales-children-blockes-third">
        <h3>Navigation</h3>
        <ul>
           <li>Page d’Accueil</li>
           <li>Toutes nos offres</li>
           <li> #JobsForAll</li>
           <li>Mozaik Recrutement</li>
           <li> Mozaik Campus</li>
           <li> Espace bénévoles</li>
           <li>Mozaik Lab</li>
        </ul>
           
    </div>

</div>

</div>
