header{
    position: fixed;
    top: 0px;
    z-index: 9999999999;
    left: 0px;
    background-color: white;
    width: 100%;
    
a{
    img{
        margin-left: 88px;}
    
}

nav{
     margin-right:88px;
ul{
    li{
        
        
button{  
    padding: 14px 15px;
    border-radius: 8px;
    color: white;
    background: #EF7C0B;
} 
       
    }
}
}

 
}
@media screen and (max-width: 768px){
     
        button{
            padding: 8px 13px;
            font-size:10px;
        }
      a{
          font-size:11px;
      }
      .menu{
          ul{
              li{
                  margin-left: 17px !important;
              }
          }
      }
    }



