.global{
    background: #F5FAFD;
    max-width: auto; 
    &::before{
      content: '';
      width: 158px;
      height: 243px;
      background-image: url("/assets/image/offre.svg");
      background-repeat: no-repeat;
      color: orange;  
      position: absolute;
      left: 0%;
  
      
}
&-parent{
    padding: 28px 19px;
   h3{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #1D293F;
     } 
}
    &-colone{
        margin-top: 30px;
        margin-left: 180px;
        margin-right: 130px;

    &-block{
        background-color: white;
        padding:20px;
        box-shadow: 0px 2px 4px rgb(14 86 124 / 17%);
        span:first-child{
        color: #8C97AC;
        &::before{
        content: '';
        display:inline-block;
        width: 20px;
        height: 20px;
        background-image: url("/assets/image/localisation.svg");
        background-repeat: no-repeat;
        vertical-align: middle;
        }
      
        }   
        p{
            font-size: 20px !important;
        }   
        span:nth-child(2){
        font-size: 8px;
        }  
        .media{
        margin-top: 60px;
    &-body{
        h5{
        margin-bottom: -6px;
                }
            }
        }
    }  
    }
// responsive tablette 
@media screen and (max-width:768px){
    &-parent{
        h3{
            margin-left: 80px;
        }
    }

        &-colone{
            margin-top: 30px;
            margin-left: 40px;
            margin-right: 30px;
            position: relative;
            &-block{
                padding: 10px;
                p{
                    font-size: 15px !important;
                   
                }
            }
            }
        }
@media screen  and (max-width:412px){
    &-parent{
        h3{
            font-size:23px;
            font-weight: 500;
        }
    }
 } }
