.parent{
    display: flex;
    align-items: center;
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 40px;
    padding-bottom: 40px;
    &-blog{
            h3{
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                 line-height: 62px;
               }   
               width: 42%;
               margin-right: 50px;
            
            span{
                color: green;
            }
            p{
                width: 100%;
                font-size: 16px;
                color: #1D293F;
                line-height: 23px
            }   
            button{    
                margin-top: 30px;
                background: #75B72D;
                color: white;
                border-radius: 8px;
                padding: 16px 35px;
            } }
        &-image{
            &-detail{
                background-image: url("/assests/image/Group206.png");
            }
        }
      

// responsive tablette 
@media screen and (max-width:768px) {
    margin-left: 48px;
    margin-right: 43px;
    button{
        font-size: 10px !important;
        text-align: center;
        color: white;
        border-radius: 10px;
        padding: 9px 28px;
    }
    h3{
        font-size: 17px !important;
        line-height: 24px;  
    }
    p{
        font-size: 8px;
        line-height: 17px;
    }}

@media screen and (max-width:412px){
    &-blog{
        h3{
            line-height: 22px !important;
        }
        p{
            line-height: 18px !important;
        }
    }

}
    }
