
<div class="hero">
    <img src="../assets/image/personne.png" alt="">
    <div class="hero-desc">
        <p class="">Les meilleurs talents sont ceux que vous choississez</p>
        <span class="mt-8">Trouver votre post parmi les 250 000 offres sur DVT</span>
    </div>
    <div class=" flex justify-center">
        <form class="conta  border-2 mb-20">
            <input type="text" id="name" name="name" placeholder="UX ,UI,Java ,Designer" class="conta-larg">
            <select name="" id="" class="conta-selec">
                <option value="">Paris,France</option>
                <option value="dog">Marrakech,Morroco</option>
                
            
            </select>
            <button class="conta-sty ml-5 text-white-400" type="submit">Trouver une offre</button>
        </form>
    </div>
</div>
