<div class="service text-center">
    <div class="flex items-center justify-between service-titre">
        <h5>Nos Services</h5>
        <div class="scrollbtn">
       <button class="mr-8 rounded-full "><span class="left"> <i></i> </span></button> 
       <button class=""><span class="right rounded-full"><i></i></span></button></div>
    </div>
    <div class="flex justify-center items-center flex-wrap  service-card ">
        <div class="service-card-detail flex flex-col items-center justify-start ">
            <img src="../assets/image/coins.svg">
            <h6>Finance</h6>
            <span>196 jobs</span>
        </div>
        <div class="service-card-detail flex flex-col items-center justify-start">
            <img src="../assets/image/drop.svg">
            <h6>Design</h6>
            <span>237 jobs</span>
        </div>
        <div class="service-card-detail flex flex-col items-center justify-start ">
            <img src="../assets/image/analytics-89.svg">
            <h6>Marketing</h6>
            <span>472 jobs</span>
        </div>
        <div class="service-card-detail flex flex-col items-start justify-start ">
            <img src="../assets/image/bussiness-agent.svg">
            <h6>Ressource  Humaines</h6>
            <span>132 jobs</span>
        </div>
    </div>
</div>