.globale{
    padding-left: 83px;
    padding-right: 40px;
  
&-parents{
               h3{
                font-size: 40px;
                margin-top: 40px;
            }}
        &-childe{
            &-blocke{
                margin-right: 58px;
                background-color: #F5FAFD;
                padding-bottom: 29px;
                img{
                     width: 100%;
                    }
            &-sousBlocke{
                margin-left: 8px;
                span{
                    font-size: 13px;
                    background:rgba(16, 66, 253, 0.15);
                    display: block;
                    margin-top: 16px;
                    margin-bottom: 17px;
                    width: 33%;
                    text-align: center;
                    border-radius: 3px; 
                    color: rgba(16, 66, 253, 1);  
                    }
                p{
                    font-size: 16px;
                    width: 50%;          
                    }
        }
        }
       }
        &-bottom{
                button{
                border: solid 4px rgba(24, 75, 148, 1);
                background-color:rgba(24, 75, 148, 1);
                margin-top: 47px;
                margin-left: 433px;
                padding: 6px 13px;
                text-align: center;
                color: white;
                
            }
    }
    //responsive tablette
@media screen and (max-width:768px) {
    &-childe{
    &-blocke{   
                span{
                width: 59% !important;
                }
                p{
                width: 89%;
                } 
    }       
    }
       &-bottom{
                button{
                margin-top: 31px !important;
                margin-left: 220px !important;
                }
    }   
    }
  //responsive mobile
    @media screen and (max-width:412px){
        &-bottom{
            button{
                margin-left:22px !important;
            }}
        &-parents{
            display: flex;
                h3{
                    font-size: 20px;
                    justify-content: flex-start;
                    margin-bottom: 0px;
                    font-weight: 500;
                }
            }
            &-childe{
                &-blocke{
                    margin-top: 28px;
                }}
  } 
}

