.globale{

    padding-left: 83px;
    padding-right: 40px;

  
    &-parents{
        
      h3{

            font-size: 40px;
             margin-top: 40px;
       }}
       &-childe{
             
              &-blocke{
                width: 75%;
                background-color: #F5FAFD;
                height: 109%;
            
               

                &-images{
                    width: 100%;
                    margin-top:0px;
                }

                   span{
                       font-size: 15px;
                       background:rgba(16, 66, 253, 0.15);
                       display: block;
                       margin-top: 16px;
                       margin-bottom: 17px;
                       width: 29%;
                       margin-left: 13px;
                     
           }
                    p{

                     font-size: 16px;
                     width: 50%;
                     margin-left: 13px;
                     
           }
       }
    }
    &-bottom{
        &-buttons{
        border: solid 4px rgba(24, 75, 148, 1);
       background-color:rgba(24, 75, 148, 1);
       margin-top: 47px;
       margin-left: 433px;
       height: 47px;
       text-align: center;
        color: white;
        width: 185px;
    }
    }
}