<div class="globale bg-lightblue-200">
    <div class="globale-parents">
        <h3 class="flex justify-center globale-parents-titles mb-8">L'actualité de l'emploi</h3>
    </div>



<div class="grid grid-cols-3 globale-child ">
  
    <div class="border-1 globale-child-blocke mr-8">
        <img src="../assets/image/Rectangle1.png" class="mt-7">
        <span class="globale-child-blocke-smallAnnotations">- @thepatwalls</span>
        <p class="globale-child-blocke-paragraphes">Les 20 métiers les plus rechechés en Ile de france</p>
       
    </div>

    <div  class="border-1 globale-child-blocke mr-8 ">
        <img src="../assets/image/Rectangle2.png" class="mt-7">
        <span class="globale-child-blocke-smallAnnotations mt-5">- @thepatwalls</span>
        <p class="globale-child-blocke-paragraphes">Les 20 métiers les plus rechechés en Ile de france</p>
           
    </div>

    <div  class=" border-1 globale-child-blocke mr-8">
        <img src="../assets/image/Rectangle3.png" class="mt-7">
        <span class="globale-child-blocke-smallAnnotations">- @thepatwalls</span>
        <p class="globale-child-blocke-paragraphes">Les 20 métiers les plus rechechés en Ile de france</p>
           
    </div>

</div>
</div>
