<div class="globale bg-lightblue-200">
    <div class="globale-parents">
        <h3 class="flex justify-center  mb-8">L'actualité de l'emploi</h3>
    </div>



<div class="grid md:grid-cols-3 globale-childe  sm:grid-cols-1">
  
    <div class="border-1 globale-childe-blocke mr-2 ">
        <img src="../assets/image/Rectangle1.png">
        <div class=" globale-childe-blocke-sousBlocke">
            <span>@thepatwalls</span>
            <p>Les 20 métiers les plus rechechés en Ile de france</p>
        </div>
       
    </div>

    <div  class="border-1 globale-childe-blocke">
        <img src="../assets/image/Rectangle2.png" >
       <div class="globale-childe-blocke-sousBlocke">
           <span>@thepatwalls</span>
        <p>Les 20 métiers les plus rechechés en Ile de france</p>
    </div>

           
    </div>

    <div  class=" border-1 globale-childe-blocke">
        <img src="../assets/image/Rectangle3.png">
        <div class="globale-childe-blocke-sousBlocke">
            <span>@thepatwalls</span>
            <p>Les 20 métiers les plus rechechés en Ile de france</p>
        </div>
           
    </div>

</div>
<div class="globale-bottom">
    <button>En Savoir Plus</button>
</div>

</div>
