<div class="globale bg-lightblue-200">
    <div class="globale-parents">
        <h3 class="flex justify-center  mb-8">L'actualité de l'emploi</h3>
    </div>



<div class="grid grid-cols-3 globale-childe ">
  
    <div class="border-1 globale-childe-blocke mr-2 ">
        <img src="../assets/image/Rectangle1.png" class="globale-childe-blocke-images">
        <span > @thepatwalls</span>
        <p >Les 20 métiers les plus rechechés en Ile de france</p>
       
    </div>

    <div  class="border-1 globale-childe-blocke ">
        <img src="../assets/image/Rectangle2.png" class="globale-childe-blocke-images">
        <span>@thepatwalls</span>
        <p>Les 20 métiers les plus rechechés en Ile de france</p>
           
    </div>

    <div  class=" border-1 globale-childe-blocke">
        <img src="../assets/image/Rectangle3.png" class="globale-childe-blocke-images">
        <span>@thepatwalls</span>
        <p >Les 20 métiers les plus rechechés en Ile de france</p>
           
    </div>

</div>
<div class="globale-bottom">
    <h3 class=" globale-bottom-buttons ">En Savoir Plus</h3>
</div>

</div>
