.globales {
    background: #1d293f;
    margin-top: 40px;
    padding: 40px 40px 80px 30px;
    position: relative;
    &-children {
        &-blockes {
            ul li {
                color: white;
                width: 30%;
                display: block;
                margin-left: 67px;
                margin-top: 17px;
                &.colored {
                    color: red;
                }
            }
            a {
                display: block;
                margin-left: 53px;
                margin-top: 20px;
                color: white;
            }
            &-second {
                margin-left: 95px;
                h3 {
                    color: rgba(235, 102, 11, 1);
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                ul li {
                    color: white;
                    width: 25%;
                    display: block;
                }
            }
            &-third {
                margin-left: 63px;
                h3 {
                    color: rgba(235, 102, 11, 1);
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                ul li {
                    color: white;
                    width: 25%;
                    display: block;
                }
            }
        }
    }
    .media {
        border-top: 1px solid white;
        margin-top: 30px;

        p {
            color: #8c97ac;
            font-size: 13px;
        }
        .social {
            .twitter {
                a {
                    span {
                        i {
                            background-image: url("/assets/image/logo-twiter-simple.svg");
                            display: block;
                            width: 30px;
                            height: 20px;
                            background-repeat: no-repeat;
                            filter: brightness(1) invert(1);
                        }
                    }
                }
            }
            .facebook {
                a {
                    span {
                        i {
                            background-image: url("/assets/image/logo-fb-simple.svg");
                            display: block;
                            width: 30px;
                            height: 20px;
                            filter: brightness(0) invert(1);
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
            .google {
                a {
                    span {
                        i {
                            background-image: url("/assets/image/logo-google.svg");
                            display: block;
                            width: 30px;
                            height: 20px;
                            background-repeat: no-repeat;
<<<<<<< HEAD
                            filter: brightness(0) invert(1);
=======
                        
>>>>>>> 30bb1eb... finalisation du projet mozaik
                        }
                    }
                }
            }
        }
    }
    &::after {
        content: "";
        width: 72px;
        height: 140px;
        background: url(/assets/image/oval.svg) no-repeat;
        display: block;
        top: 30;
        position: absolute;
        left: 0%;
        bottom: 0%;
    }

    // responsive tablette
    @media screen and (max-width: 768px) {
        margin-right: -141px;

        &-blockes {
            margin-left: -50px;
            span {
                width: 68% !important;
            }
            &-second {
                margin-left: 90px;
            }
            &-third {
                margin-left: 90px;
            }
        }
    }
    // responsive mobile
    @media screen and (max-width: 425px) {
        margin-right: -400px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
        &-children {
            &-blockes {
                &-second {
                    margin-left: 64px !important;
                    margin-left: 69px;
                    ul li {
                        color: white;
                    }
=======
=======
>>>>>>> 782f09a... Some Updates in All project about responsive design and bother things
=======
>>>>>>> 782f09a... Some Updates in All project about responsive design and bother things
        &-children{
        &-blockes {
            &-second {
                margin-left: 64px !important;
           margin-left: 69px;
                ul li {
                    color: white;
>>>>>>> 782f09a... Some Updates in All project about responsive design and bother things
                }
                &-third {
                    margin-left: 64px !important;
                    ul li {
                        color: white;
                    }
                }
            }
        }
    }
}
