
<div class="head  flex justify-between">
    <a href=""><img src="../assets/image/logo.png" alt="" class="mt-4 imagelogo"></a>
    <a href=""><img src="../assets/image/User.svg" alt="" class="mt-4 profile">
    <img src="../assets/image/Arrow-Down.svg" alt="" class="Fleche">
    <h3>Robert Fox</h3></a>
</div>

<div class="">
    <div class="flex justify-center Parent">
        <div class="Parent-sidebar">
        <span class="EditIcons"><i></i></span>
        <div class="Parent-sidebar-children1">
            <form>
                <label for="motcle1" class="motclé">Mots clés (poste, secteur...)</label><br>
                <input type="text" id="mot" value="" placeholder="Ex : Designer" class="designer"><br><br>
                <label for="motcle1" class="title">Localisation Souhaitées </label><br>
                <label for="AddVille" class="motclé">Ajouter une ville</label><br>
                <input type="text" id="ville" value="" placeholder="Marrakech" class="ville"><br><br>
                <label for="ville" class="motclé">Mobilité Souhaité</label>
                <select name="ville" id="ville" class="listedeSelection">
                <option value="" >Marrakech</option>
                <option value="dog">Casablanca</option>
                <option value="cat">Rabat</option>
                </select><br>
                <br>
                <label for="Quel type de contrat vous intéresse ?" class="ml-4 title" >Quel type de contrat vous intéresse ?</label><br> 
                <input type="checkbox" id="CDI" name="CDI" value="CDI">
                <label for="CDI" class="ml-4 mt-4 firstSelect">CDI</label><br>
                <input type="checkbox" id="CDD" name="CDD" value="CDD">
                <label for="vehicle2"  class="ml-4  mt-4 nameCheckbox"> CDD</label><br>
                <input type="checkbox" id="Contrat de Professionnalisation" name="Contrat de Professionnalisation" value="Contrat de Professionnalisation">
                <label for="Contrat de Professionnalisation"  class="ml-4 mt-4 nameCheckbox"> Contrat de Professionnalisation</label><br>
                <input type="checkbox" id="Contrat d’apprentisage" name="Contrat d’apprentisage" value="Contrat d’apprentisage">
                <label for="Contrat d’apprentisage" class="ml-4  mt-4 nameCheckbox"> Contrat d’apprentisage</label><br>
                <input type="checkbox" id="Stage" name="Stage" value="Stage">
                <label for="Stage" class="ml-4 nameCheckbox"> Stage</label><br>
                <input type="checkbox" id="Service civique" name="Service civique" value="Service civique">
                <label for="Intérim" class="ml-4 nameCheckbox"> Intérim</label><br>
                <input type="checkbox" id="Intérim" name="Intérim" value="Intérim">
                <label for="Intérim" class="ml-4 nameCheckbox"> Intérim</label><br><br>
                <button>Rechercher</button>
            </form>
     
 
 
    </div>
</div>

<div >
    <div class="Parent2">
<div class="md:flex md:justify-between md:align-center Parent2-FirstChild">
    <img src="../assets/image/dyson.jpeg">
    <h1>MANAGER COMMERCIAL</h1>
   <div class="Parent2-FirstChild-image">
       <img src="assets/image/LikesIcons.svg" class="Likeicon">
       <img src="assets/image/DislikesIcons.svg" class="Dislkeicon"><i></i>
</div>
</div>

<div class="flex justify-start Parent2-SecondChild">
    <h2>CDI - AXA   - <h2 class="ml-4 secondTitre"> 12/09/2020</h2></h2>
    <span class="ml-5">Part time</span>
</div>
<div class="flex justify-start   Parent2-ThirdChild">

    <h2> <i class="locate"></i>France Entier</h2>
   
    <h3 class="ml-5"><i class="date"></i>12/09/2020</h3>
</div>
<p class="mb-8">Rejoignez une entreprise leader au sein d’un réseau en pleine croissance !</p>

<p>  AXA, leader mondial de l’assurance, accompagne plus de 105 millions de clients à travers 64 pays.
     AXA se positionne comme la 1ère marque mondiale d’assurance pour la 8ème année consécutive (classement Interbrand).</p>
     <div class="flex justify-start  Parent2-LastChild">
            <span>Sketch</span>
            <span class="ml-2 ">Figma</span>
            <span class="ml-2">After effect</span>
            <span class="ml-2">Photoshop</span>
            <span class="ml-2">Interaction Design</span>
       
    </div>
    <button>Postulez a cette offre</button>

</div>
<div class="Parent2">
    <div class="flex justify-between align-center Parent2-FirstChild">
        <img src="../assets/image/the north face.png">
        <h1>MANAGER COMMERCIAL</h1>
       <div class="Parent2-FirstChild-image">
           <img src="assets/image/LikesIcons.svg" class="Likeicon">
           <img src="assets/image/DislikesIcons.svg" class="Dislkeicon">
    </div>
    </div>
    
    <div class="flex justify-start  Parent2-SecondChild">
        <h2>CDI - AXA - <h2 class="ml-4 secondTitre">12/09/2020</h2></h2> 
        <span class="ml-5">Part time</span>
    </div>
    <div class="flex justify-start Parent2-ThirdChild">
        <h2><i class="locate"></i>France Entier</h2>
        <h3 class="ml-5"><i class="date"></i>12/09/2020</h3>
    </div>
    <p class="mb-8">Rejoignez une entreprise leader au sein d’un réseau en pleine croissance !<p>
    
       <p> AXA, leader mondial de l’assurance, accompagne plus de 105 millions de clients à travers 64 pays.
         AXA se positionne comme la 1ère marque mondiale d’assurance pour la 8ème année consécutive (classement Interbrand).</p>
         <div class="flex justify-start Parent2-LastChild">
                <span>Sketch</span>
                <span class="ml-2 ">Figma</span>
                <span class="ml-2">After effect</span>
                <span class="ml-2">Photoshop</span>
                <span class="ml-2">Interaction Design</span>
           
        </div>
        <button>Postulez a cette offre</button>
    
    </div>
    <div class="Parent2">
        <div class="flex justify-between align-center Parent2-FirstChild">
            <img src="../assets/image/Logo-green.png" >
            <h1 class="titre">MANAGER COMMERCIAL</h1>
            
           <div class="Parent2-FirstChild-image">
               <img src="assets/image/LikesIcons.svg" class="Likeicon">
               <img src="assets/image/DislikesIcons.svg" class="Dislkeicon">
        </div>
        </div>
        
        <div class="flex justify-start  Parent2-SecondChild">
            <h2>CDI - AXA   <h2 class="ml-4 secondTitre">12/09/2020 </h2></h2>
            <span class="ml-5">Part time</span>
        </div>
        <div class="flex justify-start Parent2-ThirdChild">
            <h2><i class="locate"></i>France Entier</h2>
            <h3 class="ml-5"><i class="date"></i>12/09/2020</h3>
        </div>
        <p class="mb-8">Rejoignez une entreprise leader au sein d’un réseau en pleine croissance !</p>
        
          <p>  AXA, leader mondial de l’assurance, accompagne plus de 105 millions de clients à travers 64 pays.
             AXA se positionne comme la 1ère marque mondiale d’assurance pour la 8ème année consécutive (classement Interbrand).</p>
             <div class="flex justify-start Parent2-LastChild">
                    <span>Sketch</span>
                    <span class="ml-2 ">Figma</span>
                    <span class="ml-2">After effect</span>
                    <span class="ml-2">Photoshop</span>
                    <span class="ml-2">Interaction Design</span>
               
            </div>
            <button>Postulez a cette offre</button>
        
        </div>
        <div class="Parent2">
            <div class="flex justify-between align-center Parent2-FirstChild">
                <img src="../assets/image/dyson.jpeg">
                <h1>MANAGER COMMERCIAL</h1>
               <div class="Parent2-FirstChild-image">
                   <img src="assets/image/LikesIcons.svg" class="Likeicon">
                   <img src="assets/image/DislikesIcons.svg" class="Dislkeicon">
            </div>
            </div>
            
            <div class="flex justify-start  Parent2-SecondChild">
                <h2>CDI - AXA   -   <h2 class="ml-4 secondTitre"> 12/09/2020 </h2></h2>
                <span class="ml-5">Part time</span>
            </div>
            <div class="flex justify-start Parent2-ThirdChild">
                <h2><i class="locate"></i>France Entier</h2>
                <h3 class="ml-5"><i class="date"></i>12/09/2020</h3>
            </div>
            <p class="mb-8">Rejoignez une entreprise leader au sein d’un réseau en pleine croissance !<p>
            
                <p>AXA, leader mondial de l’assurance, accompagne plus de 105 millions de clients à travers 64 pays.
                 AXA se positionne comme la 1ère marque mondiale d’assurance pour la 8ème année consécutive (classement Interbrand).</p>
                 <div class="flex justify-start Parent2-LastChild">
                        <span>Sketch</span>
                        <span class="ml-2 ">Figma</span>
                        <span class="ml-2">After effect</span>
                        <span class="ml-2">Photoshop</span>
                        <span class="ml-2">Interaction Design</span>
                   
                </div>
                <button>Postulez a cette offre</button>
            
            </div>
        <div class="Parent2 mb-8">
            <div class="flex justify-between align-center Parent2-FirstChild">
                <img src="../assets/image/Macdonald.png">
                <h1 class="titre">MANAGER COMMERCIAL</h1>
               <div class="Parent2-FirstChild-image">
                   <img src="assets/image/LikesIcons.svg" class="Likeicon">
                   <img src="assets/image/DislikesIcons.svg" class="Dislkeicon">
            </div>
            </div>
            
            <div class="flex justify-start  Parent2-SecondChild">
                <h2>CDI - AXA   -  <h2 class="ml-4 secondTitre"> 12/09/2020</h2> </h2>
                <span class="ml-5">Part time</span>
            </div>
            <div class="flex justify-start Parent2-ThirdChild">
                <h2><i class="locate"></i>France Entier</h2>
                <h3 class="ml-5"><i class="date"></i>12/09/2020</h3>
            </div>
            <p class="mb-8">Rejoignez une entreprise leader au sein d’un réseau en pleine croissance !<p>
            
              <p> AXA, leader mondial de l’assurance, accompagne plus de 105 millions de clients à travers 64 pays.
                 AXA se positionne comme la 1ère marque mondiale d’assurance pour la 8ème année consécutive (classement Interbrand).</p>
                 <div class="flex justify-start Parent2-LastChild">
                        <span>Sketch</span>
                        <span class="ml-2 ">Figma</span>
                        <span class="ml-2">After effect</span>
                        <span class="ml-2">Photoshop</span>
                        <span class="ml-2">Interaction Design</span>
                   
                </div>
                <button>Postulez a cette offre</button>
            
            </div>
</div>
</div>
<app-footer></app-footer>