
.service{
    margin: 40px 155px;
    margin-top: 68px;
    margin-bottom: 111px;

    &-titre{
     h5{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        color: #1D293F;
        margin-left: 142px;
     }
    &-scrollbtn{
        button{
            position: relative;
        &-right{
            width: 55px;
            height: 53px;
            background-color: #184B95;
            position: absolute;
            display: inline-block;
            width: 83px;
            height: 70px;
            i{
                background-image: url("/assets/image/rightIcon.svg");
            }
}
       &-left{
           i{
            background-image: url("/assets/image/leftIcon.svg");
           }
       }
        }}
    } 
    &-card{
        margin-top: 41px;
     &-detail{
        
    &:hover{
        background-color:rgba(24, 75, 149, 1);
        color: white;
    }
        width: 240px;
        height: 240px;
        background: #F5FAFD;
        margin-right: 15px;
        h6{
            margin-top: 26px;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 27px;
            color: #1D293F;
        }
        span{
            font-size: 8px;
          
        }   
    }}
    // responsive tablette 
    @media screen and (max-width:768px){
        &-card{
        &-detail{
            &:hover{
                background-color:rgba(24, 75, 149, 1);
                color: white;
            }
            background-color: rgb(245, 250, 253);
            padding-top: 100px;
            padding-left: 35px;
            w
        h6{
            font-size: 15px !important;
        }
        
        margin: 36px 3px;
    }}

    //responsive mobile
    @media screen and (max-width:412px){
            &-card{
                &-detail{
                width: 80%;
                margin-bottom: 24px;
        }}
        &-titre{
            margin-right: 34px;
        h5{
            margin-left: 30px;
            font-size: 30px;
        }
    }
    }}}

