<div class="pare text-center">
    <div class="flex items-center justify-between">
        <h3>Nos Services</h3>
        <span><></span>
    </div>
    <div class="flex justify-center items-center">
        <div class="pare-partena-lo  ">
            <p class="pare-partena-lo-tit">Finance</p>
            <span>196 jobs</span>
        </div>
        <div class="pare-partena-lo ">
            <p class="pare-partena-lo-tit">Design</p>
            <span>237 jobs</span>
        </div>
        <div class="pare-partena-lo">
            <p class="pare-partena-lo-tit">Marketing</p>
            <span>472 jobs</span>
        </div>
    </div>
</div>