<div class="pare text-center">
    <div class="flex items-center justify-between ">
        <h3>Nos Services</h3>
        <span><></span>
    </div>
    <div class="flex justify-center items-center pare-partena">
        <div class="pare-partena-lo flex flex-col items-start justify-start ">
            <img src="../assets/image/coins.svg">
            <p>Finance</p>
            <span>196 jobs</span>
        </div>
        <div class="pare-partena-lo flex flex-col items-start justify-start ">
            <img src="../assets/image/drop.svg">
            <p>Design</p>
            <span>237 jobs</span>
        </div>
        <div class="pare-partena-lo flex flex-col items-start justify-start">
            <img src="../assets/image/analytics-89.svg">
            <p>Marketing</p>
            <span>472 jobs</span>
        </div>
    </div>
</div>