.parent{
background-color:  linear-gradient(rgba(233, 247, 254, 0.53)) !important;


    &-partenaire{
        margin-bottom: 60px;
        font-size: 36px;
    }

    &-partenaire-logo{
        width: 100%;
    }
}
   