.globale{
    padding-left: 83px;
    padding-right: 40px;
&-parents{
           h3{
                font-size: 40px;
                margin-top: 40px;
            }}
        &-childe{
            &-blocke{
                margin-right: 58px;
                background-color: #F5FAFD;
                padding: 30px 27px;
               
            &-sousBlocke{
                margin-left: 8px;
                span{
                    font-size: 13px;
                    background:rgba(16, 66, 253, 0.15);
                    display: block;
                    margin-top: 16px;
                    margin-bottom: 17px;
                    width: 33%;
                    text-align: center;
                    border-radius: 3px; 
                    color: rgba(16, 66, 253, 1);  
                    }
                p{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 21px;
                    line-height: 27px;
                    margin-top: 23px;
                    color: #1D293F;
                    width: 83%;         
                    }
        }
        }
       }
        &-bottom{
                button{
                border: solid 4px rgba(24, 75, 148, 1);
                background-color:rgba(24, 75, 148, 1);
                margin-top: 47px;
                margin-left: 433px;
                padding: 6px 13px;
                text-align: center;
                 color: white;       
           }
    }
    //responsive tablette
@media screen and (max-width:768px) {
    padding-left: 43px;
    padding-right: 20px;
    margin-right: -142px;
    
    &-parents{
        h3{
            width: 100%;
            margin-left: 0px;
        }
    }
    &-childe{
    &-blocke{   
        padding: 12px 7px;
        margin-right: 27px;
                span{
                    width: 46% !important;
                }
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 18px;
                    width: 100%;
                } 
               
    }       
    }
       &-bottom{
                button{
                margin-top: 31px !important;
                margin-left: 220px !important;
                }
    }   
    }
  //responsive mobile
    @media screen and (max-width:425px){
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: -342px;
    
        &-bottom{
            margin-top: -24px;
           
            button{
                
                margin-left: 85px !important;
                margin-left: 107px !important;
                padding: 18px 128px !important;
              
    
            }}
        &-parents{
            display: flex;
            margin: 53px;
                h3{
                    font-size: 38px;
                    justify-content: flex-start;
                    margin-bottom: 0px;
                    font-weight: 500;
                }
            }
            &-childe{
                &-blocke{
                    margin-top: 28px;
                    margin: 22px;
                    display: flex;
                    span{
                        width: 45% !important;
                        font-size: 25px;
                        border-radius: 6px;
                    }

                    
                    p{
                        font-size: 21px;
                    }
                    &-second{
                        width: 61% !important
                    }
                    img{
                        width: 41%;
                    }
                    
              }}
  } 
}

