<div class="head  flex justify-between">
    <a href=""><img src="../assets/image/logo.png" alt="" class="mt-4 imagelogo"></a>
    <a href=""><img src="../assets/image/User.svg" alt="" class="mt-4 profile">
        <img src="../assets/image/Arrow-Down.svg" alt="" class="Fleche">
        <h3>Robert Fox</h3>
    </a>


</div>
<div class="flex justify-center Parent">
    <div class="sidebar">
        <span class="EditIcons"><i></i></span>
        <div class="sidebar-children1">
            <img src="../assets/image/ImageProfile.png" class="">
            <h1>Fayssal Tahtoub</h1>
            <span>Product Owner</span>
            <ul class="étoile flex justify-center">
                <li><span><i></i></span></li>
                <li><span><i></i></span></li>
                <li><span><i></i></span></li>
                <li><span><i></i></span></li>
                <li><span class="LastIcon"><i></i></span></li>
            </ul>
            <div class="sidebar-children2">
                <h5>Bio</h5>
                <p>Un profil plus fort augmente vos chances de retenir l'attention des recruteurs</p>
            </div>
            <div class="sidebar-children3">
                <button>Télécharger Synthèse SHAPE</button>
                <button class="btnDownload">Télécharger Synthèse DRIVE</button>
            </div>
        </div>
    </div>

    <div class="md:ml-8">
        <div class="Parent2">
            <div class="flex justify-between align-center FirstChild">
                <h1>Mes expériences</h1>
                <button class="">Ajouter une expérience</button>
            </div>
            <div class="flex justify-between align-center SecondChild">
                <h1>Ingénieur système - 1 minute script</h1>
                <div class="SecondChild-btn">
                    <button class="btnEdit">Editer</button>
                    <button class="btnDelete ml-4"><i></i></button>
                </div>
            </div>
            <div class="flex justify-start  ThirdChild">
                <h1>De Juin 2010 à aujourd'hui </h1>
                <span class="ml-5">Part time</span>
            </div>
            <p class="mb-4">Félicitations pour votre inscription sur la plateforme qui va
                booster vos chances pour trouzver un emoloi</p>

            <div class="flex justify-between align-center SecondChild">
                <h1>Ingénieur système - 1 minute script</h1>
                <div class="SecondChild-btn">
                    <button class="btnEdit">Editer</button>
                    <button class="btnDelete ml-4"><i></i></button>
                </div>
            </div>
            <div class="flex justify-start  ThirdChild">
                <h1>De Juin 2010 à aujourd'hui </h1>
                <span class="ml-5">Part time</span>
            </div>
            <p>Félicitations pour votre inscription sur la plateforme qui va
                booster vos chances pour trouzver un emoloi</p>

        </div>

        <div class="Parent2">
            <div class="flex justify-between align-center FirstChild">
                <h1 class="titre">Mes formations</h1>
                <button class="">Ajouter une formation</button>
            </div>
            <div class="flex justify-between align-center SecondChild">
                <h1>Ingénieur système - 1 minute script</h1>
                <div class="SecondChild-btn">
                    <button class="btnEdit">Editer</button>
                    <button class="btnDelete ml-4"><i></i></button></div>
            </div>
            <div class="flex justify-start ThirdChild">
                <h1>De Juin 2010 à aujourd'hui </h1>
                <span class="ml-5 formationSpan ">Bac+4</span>
            </div>
        </div>
        <div class="Parent2">
            <div class="flex justify-between align-center FirstChild">
                <h1 class="titre">Mes Compétences</h1>
                <button class="">Ajouter </button>
            </div>
            <div class="flex justify-between align-center SecondChild">
                <div class="SecondChild-Compétences">
                    <span>Sketch</span>
                    <span class="ml-2 ">Figma</span>
                    <span class="ml-2">After effect</span>
                    <span class="ml-2">Photoshop</span>
                    <span class="ml-2">Interaction Design</span>
                </div>
                <div class="SecondChild-btn">
                    <button class="">Editer</button>
                    <button class=" ml-4"><i></i></button>
                </div>
            </div>
        </div>
        <div class="Parent2">
            <div class="flex justify-between align-center FirstChild">
                <h1 class="titre">Mes Langues</h1>
                <button class="">Ajouter </button>
            </div>
            <div class="flex justify-between align-center SecondChild">
                <div class="SecondChild-Compétences">
                    <span class="ml-2 ">Sport</span>
                    <span class="ml-2">Gaming</span>
                </div>
                <div class="SecondChild-btn">
                    <button class="">Editer</button>
                    <button class="ml-4"><i></i></button></div>
            </div>
        </div>
        <div class="Parent2-SaveBtn"><button><i>Enregistrer Vos Modifications</i></button></div>
    </div>




</div>

<app-footer></app-footer>