.head {
    background-color: white;
    height: 86px !important;
    a {
        img {
            &.imagelogo {
                margin-left: 100px !important;
                margin-top: 24px;
            }
            &.profile {
                margin-right: 112px !important;
            }
            &.Fleche {
                margin-left: -28px;
                margin-top: -24px;
            }
        }
        h3 {
            margin-left: -125px;
            margin-top: -16px;
        }
    }
}

.Parent {
    background-color: #f5fafd;
    padding-top: 19px;
    .sidebar {
        background-color: white;
        margin-top: 29px;
        border: solid 2px white;
        margin-left: 20px;
        width: 360px;
        height: 606px;
        &.EditIcons {
            i {
                background-image: url("/assets/image/EditIcons.svg");
                width: 30px;
                height: 20px;
            }
        }
        &-children1 {
            padding: 53px 53px;
            ul {
                margin-left: 10px;
                li {
                    display: inline-block;
                    span {
                        &.LastIcon {
                            i {
                                background-image: url("/assets/image/vector2.svg");
                                width: 20px;
                                height: 20px;
                            }
                        }
                        i {
                            display: block;
                            background-image: url("/assets/image/vector.svg");
                            background-repeat: no-repeat;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            h1 {
                text-align: center;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
            }
            span {
                margin-top: 20px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                display: block;
                color: #95adbe;
            }
            span:nth-child(2) {
                display: block;
            }
            img {
                margin-left: 64px;
                margin-bottom: 20px;
            }
        }
        &-children2 {
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 24px;
            text-align: center;
            margin-top: 10px;
            border-top: 0.6px solid rgba(0, 0, 0, 0.08);
            padding-top: 30px;
            h5 {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-align: left;

                color: #95adbe;
            }
            p {
                margin-top: 10px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #1d293f;
            }
        }
        &-children3 {
            button {
                background-color: #184b94;
                box-shadow: 0px 18px 24px -10px rgba(0, 0, 0, 0.0295017);
                border-radius: 6px;
                padding: 11px 11px;
                margin-bottom: 10px;
                margin-top: 20px;
                color: white;
                &.btnDownload {
                    color: white;
                    background-color: #ef7c0b;
                }
            }
        }
    }
    .Parent2 {
        background: #ffffff;
        border-radius: 4px;
        padding: 8px 47px;
        border: solid 3px white;
        margin-bottom: 16px;
        margin-right: 40px;
        margin-top: 30px;
        &-SaveBtn {
            background-color: #184b94;
            box-shadow: 0px 18px 24px -10px rgb(0 0 0 / 3%);
            border-radius: 8px;
            color: white;
            margin-left: 401px;
            margin-right: 30px;
            margin-top: 60px;
            color: white;
            text-align: center;
            margin-bottom: 40px;
            button {
                padding: 10px 10px;
            }
            i {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .FirstChild {
            button {
                color: rgba(239, 124, 11, 1);
            }
            h1 {
                color: #1d293f;
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 48px;
            }
        }
        .SecondChild {
            border-top: solid 1px rgba(0, 0, 0, 0.08);

            h1 {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 34px;
                margin-top: 20px;
                color: rgba(29, 41, 63, 1);
            }
            button {
                margin-top: 18px;
                border-radius: 4px;
                background-color: rgba(223, 232, 239, 0.5);
                font-size: 12px;
                padding: 7px 9px;
            }
            button:nth-child(2) {
                background-color: rgba(255, 89, 62, 0.13);
                i {
                    background-image: url("/assets/image/Trashicon.svg");
                    height: 15px;
                    width: 12px;
                    display: block;
                    background-repeat: no-repeat;
                }
            }
            &-Compétences {
                margin-top: 20px;
                span {
                    border: solid 2px rgba(223, 232, 239, 0.5);
                    border-radius: 10px;
                    background-color: rgba(223, 232, 239, 0.5);
                    font-size: 12px;
                    padding: 3px 5px;
                }
            }
        }

        .ThirdChild {
            span {
                background-color: rgba(245, 166, 35, 0.148721);
                border-radius: 5px;
                color: rgba(245, 166, 35, 1);
                font-size: 13px;
                width: 68px;
                height: 24px;
                text-align: center;
                &.formationSpan {
                    background: rgba(16, 66, 253, 0.15);
                    border-radius: 5px;
                    color: rgba(16, 66, 253, 1);
                }
            }
            h1 {
                color: rgba(140, 151, 172, 1);
                font-size: 12px;
            }
        }
        p {
            width: 50%;
            margin-top: 16px;
            font-size: 16px;
            margin-bottom: 40px;
            font-weight: 300;
        }
    }
}
@media screen and (max-width: 768px) {
    .head {
        a {
            margin-right: 199px;
            img.imagelogo {
                margin-left: 26px !important;
            }
            img.profile {
                margin-right: 43px !important;
            }
            margin-right: -136px;
            
        }
    }
    .Parent {
        margin-right: -139px;
        margin-bottom: -36px;
        .sidebar {
            height: 665px;
            &-children1 {
                img {
                    margin-left: 68px !important;
                }
                padding: 53px 2px;
            }
            h1 {
                font-size: 14px;
            }
            &-children2 {
                p {
                    font-size: 12px;
                }
                h5 {
                    margin-left: 26px;
                }
            }
            &-children3 {
                padding: 5px 11px;
                margin-left: 20px;
                button {
                    font-size: 12px;
                }
            }
        }
        .Parent2 {
            padding: 8px 12px;
            .SecondChild {
                h1 {
                    font-size: 14px;
                }
                &-Compétences{
                    span{
                    margin-bottom: 12px;
                    display: inline-block;}
                }
                &-btn{
                    display: flex;
                    button{
                        height: 31px;
                    }
                }
            }
            .FirstChild {
                h1 {
                    font-size: 20px;
                }
                button {
                    margin-left: 3px;
                }
            }
            p {
                font-size: 12px;
                width: 100%;
            }
            &-SaveBtn {
                margin-left: 0px !important;
                margin-right: 63px;
            }
        
        }
    }
}

@media screen and (max-width:425px){
    .Parent{
        flex-wrap: wrap;
        .sidebar{
            margin-left: -33px;
        }
        .Parent2{
            margin-left: 32px;
    margin-right: 105px;
 
            .FirstChild{
                h1{
                    font-size: 19px;
                }
            }
            .SecondChild{
                h1{
                    font-size: 13px;
                }
                &-btn{
                    margin-top: 3px;
                }
            }
    &-SaveBtn{
        margin-left: 60px !important;
    margin-right: 105px;
    }  }
    }
}
