<div class="global bg-lightblue-200">
    <div class="global-parent">
        <h3 class="flex justify-center global-parent-title mb-8">+1000 personnes nous aiment</h3>
    </div>



<div class="grid grid-cols-3 global-parent ">
  
    <div class="border-1 global-parent-block ">
        <img src="../assets/image/Oval1.png" class="mt-7">
        <p class="global-parent-block-paragraphe">Le Lorem Ipsum est simplement du faux texte employé 
            dans la composition et la mise en page</p>
            <span class="global-parent-block-smallAnnotation">- @thepatwalls</span>
    </div>

    <div  class="border-1 global-parent-block ">
        <img src="../assets/image/Oval2.png" class="mt-7">
        <p class="global-parent-block-paragraphe">Le Lorem Ipsum est simplement du faux texte employé 
            dans la composition et la mise en page</p>
            <span class="global-parent-block-smallAnnotation">- @thepatwalls</span>
    </div>

    <div  class=" border-1 global-parent-block ">
        <img src="../assets/image/Oval3.png" class="mt-7">
        <p class="global-parent-block-paragraphe">Le Lorem Ipsum est simplement du faux texte employé 
            dans la composition et la mise en page</p>
            <span class="global-parent-block-smallAnnotation">- @thepatwalls</span>
    </div>

</div>
</div>