.global{
    padding:85px 163px;
    background-color:  #F5FAFD;
      &-parent{
          padding-left: 31px;
          padding-right: 40px;
       h3{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
       span{
        color: #EB660B;
         margin-right:5px
       }
        }     
        &-block{
              background-color: white;
              margin-left:40px;
              padding: 20px 25px;
           p{
                  font-size: 10px;
                  margin-top:20px;
        }
           span{     
           font-size: 8px;
       }
}  
// responsive tablette 
 @media screen and (max-width:768px) {
  &-block{
    padding: 20px 25px;  
    }
    }
//responsive mobile
@media screen and (max-width:412px){
  h3{
    font-size: 16px;
  }
  &-block{
    padding: 20px 25px;
    margin-bottom: 18px;}
}      
  }
}







