.parent{
 

&-blog{

margin-top:78px;







        h3{
          font-size: 30px;
          color: #1D293F;
          margin-left:186px;
          margin-top: 53px;
          width: 42%;

          span{

              color: green;
          }

           p{
                margin-top: 10px;
                margin-left: 2px;
                width: 100%;
                font-size: 10px;
                color: #1D293F;
                
        
        }

       
      
    button{

        margin-left: 184px;
        margin-top: 30px;
        padding: 12px 20px;
        text-align: center;
        color: white;
        background-color: #75B72D;
        border-radius: 10px;
    }
    



&-image{
    margin-top:35px;

    &-detail{

        background-image: url("/assests/image/Group206.png");
    }
}

}


       
  } }




  @media screen and (max-width:768px) {

    button{
        font-size: 13px !important;
        padding: 8px  20px;
        text-align: center;
        color: white;
        background-color: #75B72D;
         border-radius: 10px;
         margin-left: 182px;
         margin-top: 20px;
    }
    h3{
        font-size: 16px !important;
        color: red;
    }
       



}

